# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: CI/CD OCI Container

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - .github/dependabot.yml
      - 'src/main/helm/**'
      - 'src/main/kubernetes/**'
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - 'KES Corporate Contributor License Agreement (2019-12-31).pdf'
      - LICENSE
      - README.md
      - SECURITY.md
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: quay.io
  IMAGE_NAME: paladinsinn/rollenspiel-cons


jobs:
  build-app:
    name: Build with Maven
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    
    - name: Setup git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config set advice.skippedCherryPicks false
        
    - name: Create `./.properties-local`
      run: |
        cat > .properties-local <<'EOF'
        spring.datasource.url=jdbc:h2:mem:testdb
        spring.datasource.driverClassName=org.h2.Driver
        spring.datasource.username=sa
        spring.datasource.password=sa
        what3words.api.key=${{ secrets.WHAT3WORDS_API_KEY }}
        geocoding.api.key=${{ secrets.GEOCODING_API_KEY }}
        EOF
      shell: bash
    
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Set up Maven
      id: setup-maven
      uses: s4u/maven-settings-action@v4.0.0
      with:
        servers: |
          [
            { "id": "nvdApi", "username": "klenkes74", "password": "${{ secrets.NVD_API_KEY }}"},
            { "id": "torganized-play-commons", "username": "${{ secrets.ARTIFACTSTORE_USER }}", "password": "${{ secrets.ARTIFACTSTORE_PASSWORD }}"}
          ]
        
    - name: Get current RELEASE_VERSION
      id: release-version
      run: |
        git pull --rebase origin main
        BASE_VERSION="$(git tag --list --sort=-v:refname|head -1|sed -E 's/^v?([0-9]+\.[0-9]+\.[0-9]+).*/\1/')-$(git rev-parse --short=7 HEAD)"
        echo "RELEASE_VERSION=v$BASE_VERSION" >> $GITHUB_ENV
        echo "POM_VERSION=$BASE_VERSION" >> $GITHUB_ENV
    - name: Show versions
      run: echo -e "RELEASE_VERSION=${RELEASE_VERSION}\nPOM_VERSION=${POM_VERSION}"
        
    - name: Set project.version in pom.xml with versions-maven-plugin
      run: |
        mvn versions:set -U --batch-mode --no-transfer-progress -DnewVersion=${POM_VERSION} -DgenerateBackupPoms=false
        
    - name: Set an AES256 secret key for testing
      run: |
        echo "APP_AES256_KEY=$(openssl rand -base64 32)" >> $GITHUB_ENV
    
    - name: Compile stuff
      id: build-java
      run: mvn package -U --batch-mode --no-transfer-progress
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
      
    - name: Prepare Artifacts
      run: |
        mkdir -p java-artifacts/target
        cp -a target/app.jar java-artifacts/target/
        cp -a Dockerfile .dockerignore pom.xml README.md CONTRIBUTING.md CODE_OF_CONDUCT.md CHANGELOG.md LICENSE SECURITY.md "KES Corporate Contributor License Agreement (2019-12-31).pdf"  java-artifacts
    
    - name: Store result
      uses: actions/upload-artifact@master
      with:
        name: java-artifacts
        path: java-artifacts

  publish-quay:
    name: Create and Publish OCI Container
    runs-on: ubuntu-latest
    needs: build-app
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - name: Login to Quay.io
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_ORG_USER }}
        password: ${{ secrets.QUAY_ORG_TOKEN }}
    
    - name: Retrieve Artifacts
      uses: actions/download-artifact@master
      with:
        name: java-artifacts
        path: .
    
    - name: Set Release version env variable
      run: |
        echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
    
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/amd64
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:${{ env.RELEASE_VERSION }}
        outputs: type=image,name=target
      